$sizeVideo: calc(450px + ((100vw - 768px) / 1152) * 100);

:export {
    sizeVideo: $sizeVideo;
}

.wrapper-video {
    margin-right: 20px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}