.container {
    padding: 10px 0 0 20px;
}

.text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(22, 24, 35, 0.75);
    line-height: 18px;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 18px;
}