.wrapper {
    min-width: 100px;
    background-color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;

    +.wrapper {
        margin-left: 12px;
    }

}

.icon+.title,
.title+.icon {
    margin-left: 10px;
}

.icon {
    display: inline-block;
    min-width: 20px;
    text-align: center;
}


// size
.small {
    min-width: 88px;
    padding: 4px 12px;
}

.large {
    min-width: 168px;
    padding: 14px 12px;
}

.round {
    border-radius: 999px;
    border-color: rgba(22, 24, 35, 0.12);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    padding: 8px 12px;
}

.outline {
    text-align: center;
    padding: 5px;
    color: var(--primary);
    border-color: currentColor;
    font-weight: 600;
    font-size: 1.6rem;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}




//  primary size medium
.primary {
    height: 36px;
    padding: 7px;
    color: var(--white);
    background-color: var(--primary);
    box-shadow: none;
    text-align: center;

    &:hover {
        background: linear-gradient(0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)),
            #fe2c55;
    }
}

//text
.text {
    height: 32px;
    color: rgba(22, 24, 35, .75);
    border-radius: 52px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    cursor: pointer;
    border: 1px solid rgba(22, 24, 35, .12);

    &:hover {
        border-color: rgba(22, 24, 35, .2);
    }
}

.disable {
    opacity: 0.5;
    pointer-events: none;
}

.title {
    font-weight: 600;
}