.container {
    padding: 24px 0;
    margin: 0 16px;

    .w-item-share {
        width: 280px;
        padding: 8px 0px;
        max-height: 448px;
    }

    .icon-item-in-share {
        height: 26px;
    }

    .w-item {
        padding: 10px 0 10px 10px;
    }
}

.image {
    width: 56px;
    height: 56px;
    object-fit: contain;
    border-radius: 50%;
    cursor: pointer;
}

.w-image {
    height: 56px;
}



.w-image:hover~.wrapper .author-unique {
    text-decoration: underline;
}

.post {
    position: relative;
    display: flex;
    padding: 20px 0;
}


.wrapper {
    margin-left: 12px;
    flex: 1;
}

.video-container {
    display: flex;
}



.action {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.w-icon-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.action__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-top: 8px;
    margin-bottom: 6px;
    font-size: 24px;
    border-radius: 50%;
    background-color: rgba(22, 24, 35, .06);

}

.chevron-icon {
    font-size: 20px;
    transform: rotate(270deg);
    cursor: pointer;
}