.container {
    --width-side-bar: 348px;
    width: var(--width-side-bar);
    flex-shrink: 0;
    z-index: 1;
}

.div-wrapper {
    width: var(--width-side-bar);
    overflow: hidden auto;
    position: fixed;
    z-index: 99;
    height: calc(100vh - var(--default-layout-header-height));
    padding-bottom: 26px;
}

.footer {
    padding-left: 17px;
    padding-top: 8px;

}

.footer__link {
    display: inline-block;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    margin-right: 6px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.footer__line {
    margin: 8px 0;
}

.footer__des {
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
}