.menu-list {
    width: 223px;

    .menu-item {
        margin-left: 0;
        padding: 10px 8px 10px 16px;
    }

    .menu-item {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: left;
        font-weight: 600;
        font-size: 1.6rem;

        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }
}

.menu-wrapper {
    padding-bottom: 8px;
}

.wrapper-items {
    position: relative;
}

.render-item {
    overflow: hidden auto;
    text-align: center;

}

.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}

.overlay-bottom {
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: transparent;
}

.tippy {
    z-index: 1 !important;
}

.arrow {
    content: "";
    display: block;
    position: absolute;
    bottom: -16px;
    left: 26px;
    width: 0px;
    height: 0px;
    border: 8px solid transparent;
    border-color: white transparent transparent transparent;
}

.w-chevron-icon {
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}