.container {
    padding: 16px 0 10px 10px;
}

.wrapper {
    display: flex;
    align-items: center;
    padding: 8px 0 8px 8px;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
        border-radius: 4px;
    }
}

.icon,
.icon-active {
    height: 32px;
}

.active .title,
.active {
    color: var(--primary);
}

.icon {
    display: inline-block;
}

.icon-active {
    display: none;
}

.active .icon {
    display: none;
}

.active .icon-active {
    display: inline-block;
}

.title {
    color: var(--text-color);
    font-weight: 700;
    font-size: 18px;
    margin-left: 8px;
}