.container {
    width: calc(calc(var(--width-side-bar) - 30px));
    background-color: var(--white);
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    border-radius: 8px;
    padding: 20px;
}

.btn-follow {
    width: 106px;
    height: 34px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.user-name {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 22px;
}

.tickBlue {
    margin-left: 5px;
    height: 14px;
}

.nick-name {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.more-information {
    margin-top: 8px;
}

.number {
    font-weight: 700;
    margin-right: 6px;
    font-size: 1.7rem;
    line-height: 20px;
    display: inline-block;
}

.number~.number {
    margin-left: 12px;
}

.text {
    color: rgba(22, 24, 35, 0.75);
    font-size: 1.7rem;
    line-height: 20px;
    display: inline-block;
}